<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row text-center class="ion-margin">
      <ion-col size-sm="4" text-center>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
            <ion-card-title>Foto Actual</ion-card-title>
          </ion-card-header>
          <div class="box">
            <img [src]="usuario.imagen" alt="" class="img">
          </div>
          <hr>
          <ion-item text-center>
            <ion-label>Actualizar Imagen</ion-label>
          </ion-item>
          <ion-item class="p-2">
            <input type="file" #fileinput class="form-control-file" (change)="seleccionImagen($event.target.files[0])">
          </ion-item>

          <ion-button (click)="updateImagen()" [disabled]="!ImagenTemp" expand="full">
            ACTUALIZAR IMAGEN
          </ion-button>

        </ion-card>
      </ion-col>
      <ion-col size-sm="8">
        <ion-item lines="none" text-center>
          <ion-label color="primary" class="h5">ACTUALIZAR DATOS</ion-label>
        </ion-item>
        <form [formGroup]="form" (ngSubmit)="updateUsuario()" class="p-2">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">UserName</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" [disabled]="!form.valid" type="submit">ACTUALIZAR</ion-button>
        </form>

        <!-- <ion-item lines="none" text-center>
          <ion-label color="primary" class="h5">CAMBIAR CONTRASEÑA</ion-label>
        </ion-item>
        <form [formGroup]="form_pass" (ngSubmit)="registrar()" class="p-2">
          <ion-item>
            <ion-label position="floating">Contraseña Actual</ion-label>
            <ion-input type="password" formControlName="pass_actual"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input type="password" formControlName="pass"></ion-input>
          </ion-item>
          <ion-item style="margin-bottom: 20px;">
            <ion-label position="floating">Repite la Contraseña</ion-label>
            <ion-input type="password" formControlName="pass2"></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" [disabled]="!form_pass.valid" type="submit">ACTUALIZAR CONTRASEÑA
          </ion-button>
        </form> -->


      </ion-col>
    </ion-row>
  </ion-grid>


  <app-footer></app-footer>
</ion-content>