.img{
    height: 40vh;
    width: auto;
}
.fondo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px; 
    background-image: url('/assets/img/2.jpg')
}

.categoria{
    height: 150px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ion-toolbar {
    --background: #ffffff00;
}

.time{
    background-color: var( --ion-color-danger-tint);
}
.location{
    background-color: var( --ion-color-secondary);
}